body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.verbsTable{
  text-align:left;
  padding: 10px;
  font-family: Helvetica;
}

.quizSettings{
  text-align: center;
}

.questionOptions{
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  text-align: center;
  justify-content: center;
  margin: auto;
}
.option{
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  width: 35%;
  margin: 5px;
}
.option:hover{
  border: 2px solid darkgreen;
  background-color: lightgreen;
}
.verb{
  font-size: 30px;
  font-weight: bold;
}
.question{
  width: 100%;
  text-align: center;
  margin: 15px auto 15px auto;
}
.answerInput{
  width: 50%;
  font-size: 20px;
}
.submitButton{
  width: 150px;
  border: 2px solid darkgreen;
  border-radius: 15px;
  margin: 15px auto 0 auto;
  font-weight: bold;
  background-color: darkgreen;
  color: white;
  height: 30px;
  /* line-height: 30px; */
}
.submitButton:hover{
  background-color: lightgreen;
  color: black;
}
.chosen{
  border: 2px solid darkgreen;
  background-color: lightgreen;
}
.result{
  font-weight: bold;
  margin-top: 15px;
}
.right{
  color: darkgreen;
}

.wrong{
  color: darkred;
}

th{
  background-color: lightblue;
  font-weight: bold;
  padding: 2px;
  text-align: center;
}

.rtl{
  text-align: right;
}

.backButton{
  width: 150px;
  padding: 5px;
  margin: 5px 5px 5px auto;
  border: solid 2px darkred;
  /* background-color: darkred; */
  border-radius: 10px;
  /* color: white; */
  font-weight: bold;
  text-align: center;
}
.backButton:hover{
  background-color: lightcoral;
  color: black;
}
.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-around;
}
.menuButton{
  width: 200px;
  border: 2px solid darkgreen;
  border-radius: 15px;
  margin: 10px auto 0 auto;
  font-weight: bold;
  background-color: darkgreen;
  color: white;
  height: 30px;
  /* line-height: 30px; */
}
.menuButton:hover{
  background-color: lightgreen;
  color: black;
}
.settings{
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.set{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.settingsHeader{
  width: 100%;
  font-weight: bold;
}
.settingOption{
  border: 1px solid lightslategray;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
.settingOption:hover{
  background-color: lightseagreen;
}

.chosenSetting{
  background-color: lightseagreen;
}
.page{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
}
.navigation{
  display: flex;
  flex-direction: row;
  background-color: #8888AC;
  border-bottom: 5pt white solid;
  color: white;
  justify-content: space-around;
  padding: 1em;
  align-items: center;
}
.mainPage{
  display: flex;
  flex: 1;
  background-image: url("./assets/background.jpg");
  background-size: 50%;
  background-repeat: repeat;
}
.footer{
  min-height: 5vh;
  font-size: small;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.mainText{
  margin: 2em;
  padding: 1em;
  width: 50vw;
  background-color: white;
  opacity: 95%;
  border-radius: 15px;
  text-align: justify;
}
@media (max-width: 900px) {
  .mainText {
    width: 85vw;
  }
  .features {
    display: none;
  }
}
.features {
  height: 50%;
  display: flex;
  justify-items: center;
}
.featureArticle {
  width: 50%;
}
.menuText{
  padding: 15px;
  background-color: white;
  text-align: justify;
}
a.active{
  text-decoration: underline;
  color:bisque;
}
.NavLink a{
  color:white;
}
.NavLink:hover{
  text-decoration: underline;
  color:bisque;
}
.mainHeader{
  font-size: larger;
  font-weight: bold;
  padding: 10px;

}
p{
  padding: 5px;
}

.dynamics{
  height: 50%;
  padding: 15px;
}
.logout:hover{
  color: red;
  text-decoration: underline;
}
.currentStats{
  width: max-content;
  margin: 10px auto 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  border-radius: 15px;
  border: solid black 1px;
}
.extraInfo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  text-align: center;
}
.extraInfoTitle{
  width: 100%;
}
.externalLink{
  color:blue;
  text-decoration: underline;
  width: min-content;
  margin: 0px 10px 0px 10px;
}
.LinkedinLogo{
  height: 15px;
}
.StatsTable{
  padding:15px;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: antiquewhite;
  border-radius: 20px;
}
.statsTableHeader{
  background-color: #3EB489;
  font-weight: bold;
}
.StatsTable tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}
.StatsTable tr:first-child td:last-child {
  border-top-right-radius: 20px;
}
.StatsTable tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}
.StatsTable tr:first-child td:first-child {
  border-top-left-radius: 20px;
}
.NA{
  background-color: lightgray;
}
.bad{
  background-color: #FED6BC;
}
.moderate{
  background-color: #FFFADD;
}
.good{
  background-color: #C3FBD8;
}