body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.verbsTable{
  text-align:left;
  padding: 10px;
  font-family: Helvetica;
}
a:link{
  text-decoration: none;
  color: blue;
}
table{
  width : 100%;
}
tr:nth-child(even) {
  background-color: lightcyan;
}
.quizSettings{
  text-align: center;
}

.questionOptions{
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  text-align: center;
  justify-content: center;
  margin: auto;
}
.option{
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  width: 35%;
  margin: 5px;
}
.option:hover{
  border: 2px solid darkgreen;
  background-color: lightgreen;
}
.verb{
  font-size: 30px;
  font-weight: bold;
}
.question{
  width: 100%;
  text-align: center;
  margin: 15px auto 15px auto;
}
.answerInput{
  width: 50%;
  font-size: 20px;
}
.submitButton{
  width: 30%;
  border: 2px solid darkgreen;
  border-radius: 15px;
  margin: 15px auto 0 auto;
  font-weight: bold;
  background-color: darkgreen;
  color: white;
  height: 30px;
  line-height: 30px;
}
.submitButton:hover{
  background-color: lightgreen;
  color: black;
}
.chosen{
  border: 2px solid darkgreen;
  background-color: lightgreen;
}
.result{
  font-weight: bold;
  margin-top: 15px;
}
.right{
  color: darkgreen;
}

.wrong{
  color: darkred;
}

.externalLink{
  margin: 15px auto 20px auto;
}
th{
  background-color: lightblue;
  font-weight: bold;
  padding: 2px;
  text-align: center;
}

.rtl{
  text-align: right;
}

.backButton{
  width: 150px;
  padding: 5px;
  margin: 5px 5px 5px auto;
  border: solid 1px darkred;
  background-color: darkred;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.backButton:hover{
  background-color: lightcoral;
  color: black;
}
.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-around;
}
.menuButton{
  width: 30%;
  border: 2px solid darkgreen;
  border-radius: 15px;
  margin: 10px auto 0 auto;
  font-weight: bold;
  background-color: darkgreen;
  color: white;
  height: 30px;
  line-height: 30px;
}
.menuButton:hover{
  background-color: lightgreen;
  color: black;
}
.settings{
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.set{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin: auto;
}
.settingsHeader{
  width: 100%;
}
.settingOption{
  border: 1px solid lightslategray;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
.settingOption:hover{
  background-color: lightseagreen;
}

.chosenSetting{
  background-color: lightseagreen;
}
.page{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
}
.navigation{
  display: flex;
  flex-direction: row;
  background-color: darkslategrey;
  color: white;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}
.mainPage{
  flex:1;
  background-image: url("./assets/background.jpg");
  background-size: cover;
}
.footer{
  background-color: lightgrey;
  font-size: small;
}
.mainText{
  margin: 25px;
  padding: 15px;
  background-color: white;
  opacity: 85%;
  border-radius: 15px;
  text-align: justify;
}
a.active{
  text-decoration: underline;
  color:bisque;
}
.NavLink:hover{
  text-decoration: underline;
  color:bisque;
}
.mainHeader{
  font-size: larger;
  font-weight: bold;
  padding: 10px;

}
p{
  padding: 5px;
}

.dynamics{
  height: 50%;
  padding: 10px;
}
.logout:hover{
  color: red;
  text-decoration: underline;
}
.currentStats{
  width: max-content;
  margin: 10px auto 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  border-radius: 15px;
  border: solid black 1px;
}